<h2 [innerText]="editFlag ? 'Edit Course' : 'Course Info'"></h2>
<br />

<div [hidden]="course ? true : false" class="alert alert-danger" role="alert">
    {{ successFlag.message }}
</div>

<form #courseForm="ngForm" *ngIf="course">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <input [disabled]="!editFlag" type="text" required [(ngModel)]="course.name" name="name" #courseName="ngModel"
                [ngClass]="{'is-invalid': courseName.invalid}" class="form-control">
            <div class="invalid-feedback">
                <span>Course name is required.</span>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">Price:</label>
        <div class="col-sm-10">
            <input [disabled]="!editFlag" type="number" required [(ngModel)]="course.price" name="price" #coursePrice="ngModel"
                [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control">
            <div class="invalid-feedback">
                <span>Course price is required.</span>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label for="rating" class="col-sm-2 col-form-label">Rating:</label>
        <div class="col-sm-10">
            <input [disabled]="!editFlag" type="number" required [(ngModel)]="course.rating" name="rating" #courseRating="ngModel"
                [ngClass]="{'is-invalid': courseRating.invalid}" class="form-control">
            <div class="invalid-feedback">
                <span>Course rating is required.</span>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            <textarea [disabled]="!editFlag" required [(ngModel)]="course.description" name="description" #courseDescription="ngModel"
                [ngClass]="{'is-invalid': courseDescription.invalid}" class="form-control"></textarea>
            <div class="invalid-feedback">
                <span>Course description is required.</span>
            </div>
        </div>
    </div>
    <br />
    <div [hidden]="successFlag.success === undefined ? true : false"
        [ngClass]="successFlag.success ? 'alert-success' : 'alert-danger'" class="alert" role="alert">
        {{ successFlag.message }}
    </div>

    <button [hidden]="editFlag" (click)="edit()" class="btn btn-primary px-5" style="margin-right: 10px;">Edit</button>
    <button [hidden]="!editFlag" [disabled]="courseForm.invalid" (click)="save()" class="btn btn-success px-5"
        style="margin-right: 10px;">Save</button>
    <button routerLink="/courses" class="btn btn-secondary px-5">Back</button>
</form>

<script>
    $('.alert').alert();
</script>
